.info_div{
    margin-top: 0px;
    width:300px;
    display: inline-block;
    float:left;
    margin-bottom: 5px;
}
.body_div{
    width:70%;
    display: inline-block;
    height:500px;
    background-color:#0398CA;
    margin-bottom: 5px;

}
.avatar{
    width:250px;
    background-color:#96B0B0;
    height:250px;
    margin:auto;
    margin-top:5px;
    margin-bottom:5px;
    text-align: center;
    position:relative;
}

.avatar img{
    position:absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 250px;
    max-height: 250px;
}

.friendlist{
    width:100%;
    overflow-y: auto;
    height:500px;
    background-color: #C7FCEC;
}

.friend{
    display:inline-block;
    width:100%;
    background-color: #C7FCEC;
    height:110px;
}

.friend:hover{

    background-color: #7ACDB4;

}

.friend-avatar{
    width:20%
}

.avatar-min{
    width:100px;
    background-color:#96B0B0;
    height:100px;
    margin-left: 5px;
    margin-top:5px;
    margin-bottom:5px;
    text-align: center;
    position:relative;
    display:inline-block;
    float:left;
}

.avatar-min img{
    position:absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 100px;
    max-height: 100px;
}

.friend-name{
    display: inline-block;
    font-size: 15pt;
    height:110px;
    width:50%;
    text-align: center;
    color:#000000;
    float:left;
    position:relative;
}

.friend-name a{
    position:absolute;
    margin-top: 40px;
}

.friend-button{
    display:inline-block;
    width:25%;
    float:left;
}

.contentdiv {
    display:none;
    width:100%;
}
.contentdiv_lvl1 {
    display:none;
    width:100%;
}