.usedLogin {
    display: none;
    clear: both;
    color: red;
    text-align: left;
    font-style: italic;
    opacity: 0.8;
}

.usedEmail {
    display: none;
    clear: both;
    color: red;
    text-align: left;
    font-style: italic;
    opacity: 0.8;
}

.regError {
    display: none;
    clear: both;
    float: left;
    color: red;
    text-align: left;
    font-style: normal;
    margin-bottom: 10px;
}

.regBut {
    font-weight: bold;
    /*padding: 3px;*/
    border: 1px solid #000;
    background: #3b5998;
    color: #fff;
    /*clear: both;*/
    /*float: left;*/
    text-decoration: none;
    height: 40px;
    width: 160px;
    text-align: center;
}

.authButtom {
    float: right;
    margin-left: 5px;
}