<?php
/**
 * Created by PhpStorm.
 * User: Alexey
 * Date: 03.03.2016
 * Time: 12:56
 */
if (Zend_Auth::getInstance()->hasIdentity()): ?>
    <div name="inputForm" style="margin-top: 10px">
        Добро пожаловать!<br>Вы успешно авторизованы!
        <form action="javascript: deAuthUser();">
            <div>
<!--                <a href="resPass.php" class="regBut" style="margin-top: 5px;margin-right: 5px;">Изменить-->
<!--                    пароль</a>-->
                <input type="submit" name="exitButtom" style="margin-top: 5px" value="Выйти">
            </div>
        </form>
    </div>
<?php else: ?>
    <div name="inputForm">
        <form action="javascript: authUser();">
            <div>
                <input type="text" name="authLogin" size=20 maxlength=50 required placeholder="логин">
            </div>
            <div>

                <input type="password" name="authPass" size=20 maxlength=64 required placeholder="пароль">
            </div>
            <div>
                <!--                <a href="--><?//=$this->basePath?><!--/auth/register">Регистрация</a>-->
                <input type="submit" name="authButtom" value="Войти">
            </div>
        </form>
    </div>
<? endif; ?>
