<script src="<?=$this->basePath?>/js/register.js"></script>


        <!--        <div class="inputField">-->
        <!--            <div class="inputLabel">Фамилия:</div>-->
        <!--            <input type="text" name="last_name" size=20 maxlength=20 pattern="^[A-Za-zА-Яа-яЁё-\s']+$"-->
        <!--                   oninvalid="setCustomValidity('Фамилия может содержать не более 20 символов(заглавные или строчные буквы, дефис и пробел)')">-->
        <!--        </div>-->
        <!---->
        <!--        <div class="inputField">-->
        <!--            <div class="inputLabel">Имя*:</div>-->
        <!--            <input type="text" name="first_name" size=20 maxlength=20 pattern="^[A-Za-zА-Яа-яЁё]+$" required-->
        <!--                   oninvalid="setCustomValidity('Имя может содержать не более 20 символов(заглавные или строчные буквы)')">-->
        <!--        </div>-->
        <!---->
        <!--        <div class="inputField">-->
        <!--            <div class="inputLabel">Отчество:</div>-->
        <!--            <input type="text" name="second_name" size=20 maxlength=20 pattern="^[A-Za-zА-Яа-яЁё]+$"-->
        <!--                   oninvalid="setCustomValidity('Отчество может содержать не более 20 символов(заглавные или строчные буквы)')">-->
        <!--        </div>-->
        <!---->
        <!--        <div class="inputField">-->
        <!--            <div class="inputLabel">Страна:</div>-->
        <!--            <input type="text" name="country" size=20 maxlength=20 pattern="^[A-Za-zА-Яа-яЁё-\s]+$"-->
        <!--                   oninvalid="setCustomValidity('Название страны может содержать не более 20 символов(заглавные или строчные буквы, дефис и пробел)')">-->
        <!--        </div>-->
        <!---->
        <!--        <div class="inputField">-->
        <!--            <div class="inputLabel">Город:</div>-->
        <!--            <input type="text" name="city" size=20 maxlength=20 pattern="^[A-Za-zА-Яа-яЁё-\s]+$"-->
        <!--                   oninvalid="setCustomValidity('Название города может содержать не более 20 символов(заглавные или строчные буквы, дефис и пробел)')">-->
        <!--        </div>-->
        <!---->
        <!--        <div class="inputField">-->
        <!--            <div class="inputLabel">Номер телефона*:</div>-->
        <!--            <input type="tel" name="phone" size=20 maxlength=20 placeholder="+7(912)345-67-89"-->
        <!--                   required-->
        <!--                   oninvalid="setCustomValidity('Номер телефона может осдержать не более 10 цифр')">-->
        <!--        </div>-->
        <!---->
        <!--        <div class="inputField">-->
        <!--            <div class="inputLabel">Выберите секретный вопрос*:</div>-->
        <!--            <select name="quest_list" form="regForm" onchange="javascript: if(this.options[this.selectedIndex].value == 0){-->
        <!--            document.getElementsByName('other_question')[0].style.display = 'inline';-->
        <!--        document.getElementsByName('other_question')[0].required = true;-->
        <!--        }else{-->
        <!--                document.getElementsByName('other_question')[0].style.display = 'none';-->
        <!--                document.getElementsByName('other_question')[0].required = false;-->
        <!--        }">-->
        <!--            </select>-->
        <!--        </div>-->
        <!---->
        <!--        <div class="inputField">-->
        <!--            <input type="text" name="other_question" class="hideField" size=50 maxlength=50-->
        <!--                   pattern="^[A-Za-zА-Яа-яЁё-\s']+$"-->
        <!--                   placeholder="введите вопрос">-->
        <!--        </div>-->
        <!---->
        <!--        <div class="inputField">-->
        <!--            <div class="inputLabel">Введите ответ на выбраный вопрос*:</div>-->
        <!--            <input type="text" name="questAnsw" size=20 maxlength=20 pattern="^[A-Za-zА-Яа-яЁё-\s]+$"-->
        <!--                   required=""-->
        <!--                   oninvalid="setCustomValidity('Ответ может содержать не более 20 символов(заглавные или строчные буквы, дефис и пробел)')">-->
        <!--        </div>-->

<!--        <div class="helpText">Символом <img src="/images/need.png" width="20" height="20"> отмечены поля обязательные для заполнения
        </div>
        <input type="submit" name="regButtom" class="regBut" value="Зарегистрироваться">
    </form>
</div> -->
    <div style="margin-left:25%;width:50%;margin-right:25%">
        <form id="register">
            <div class="form-group">
                <label>Логин*</label>
                <input type="text" class="form-control"  placeholder="Логин" name="Login" ">
            </div>
            <div class="form-group">
                <label>Email*</label>
                <input type="email" class="form-control"  placeholder="Email" name="Email">
            </div>
            <div class="form-group">
                <label>Пароль*</label>
                <input type="password" class="form-control" id="pass1" placeholder="Пароль" name="Password">
            </div>
            <div class="form-group">
                <label>Подтвердите пароль*</label>
                <input type="password" class="form-control" id="pass2" placeholder="Повторите пароль" name="Password2">
            </div>
            <div class="helpText">
                Символом <img src="/images/need.png" width="20" height="20"> отмечены поля обязательные для заполнения
            </div>
            <button type="submit" class="btn btn-default" style="width:100%">Зарегистрироваться</button>
        </form>
    </div>
