<table class="table table-hover table-bordered" >
    <thead>
    <tr>
        <th>Название</th>
        <th>Тип</th>
        <th>Файл</th>
        <th>Имя пользователя</th>
        <th>Моя оценка</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>sgdfgdfgd</td>
        <td>sgdfgdfgd</td>
        <td>sgdfgdfgd</td>
        <td>sgdfgdfgd</td>
        <td>sgdfgdfgd</td>
    </tr>
    <tr>
        <td>sgdfgdfgd</td>
        <td>sgdfgdfgd</td>
        <td>sgdfgdfgd</td>
        <td>sgdfgdfgd</td>
        <td>sgdfgdfgd</td>
    </tr>
    </tbody>
</table>