<script src="<?=$this->basePath?>/js/chosen.js"></script>
<ul class="nav nav-tabs" id="chosen-nav">
    <li role="presentation" class="active" id="marks"><a>Оценки</a></li>
    <li role="presentation" id="chosenlist"><a>Избранное</a></li>
</ul>
<div class="contentdiv_lvl1" id="marks">
    <?php echo $this->render('/account/marks.phtml') ?>
</div>
<div class="contentdiv_lvl1" id="chosenlist">
    <?php echo $this->render('/account/chosenlist.phtml') ?>
</div>