<div class="friendlist">
    <div class="friend">
        <div class="friend-avatar">
            <div class="avatar-min">
                <img src="/images/fgdfgdfgfd.png"  />
            </div>
        </div>
        <div class="friend-name">
            <a href="#">Иванов Иван</a>
        </div>
        <div class="friend-button">
            <button type="button" class="btn btn-default" style="width:100%; margin-top:40px;">Удалить</button>
        </div>
    </div>
    <div class="friend">
        <div class="friend-avatar">
            <div class="avatar-min">
                <img src="/images/nota.png"  />
            </div>
        </div>
        <div class="friend-name">
            <a href="#">Иванов Иван</a>
        </div>
        <div class="friend-button">
            <button type="button" class="btn btn-default" style="width:100%; margin-top:40px;">Удалить</button>
        </div>
    </div>
</div>