<script src="<?=$this->basePath?>/js/friends.js"></script>
<ul class="nav nav-tabs" id="friend-nav">
    <li role="presentation" class="active" id="friendslist"><a>Друзья</a></li>
    <li role="presentation" id="offers"><a>Заявки на добавление в друзья</a></li>
</ul>
<div class="contentdiv_lvl1" id="friendslist">
    <?php echo $this->render('/account/friendslist.phtml') ?>
</div>
<div class="contentdiv_lvl1" id="offers">
    <?php echo $this->render('/account/offers.phtml') ?>
</div>