<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="<?=$this->basePath?>/css/account.css" rel="stylesheet">
    <script src="<?=$this->basePath?>/js/account.js"></script>
</head>
<body>
<div class="col-md-4" style="text-align: center">
    <div class="avatar">
        <img src="/images/fgdfgdfgfd.png"  />
    </div>
    <a href="#" style="color:#000000">Редактировать профиль</a>
</div>
<div class="col-md-8">
    <div class="btn-group btn-group-justified" role="group" aria-label="..." style="margin-top: 5px; margin-bottom: 5px">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" id="materials">Мои материалы</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" id="friends">Мои друзья</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" id="dialog">Диалоги</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" id="chosen">Мои закладки</button>
        </div>
    </div>
    <div class="contentdiv" id="materials">
        <?php echo $this->render('/account/materials.phtml') ?>
    </div>
    <div class="contentdiv" id="friends">
        <?php echo $this->render('/account/friends.phtml') ?>
    </div>
    <div class="contentdiv" id="dialog">
        <?php echo $this->render('/account/dialog.phtml') ?>
    </div>
    <div class="contentdiv" id="chosen">
        <?php echo $this->render('/account/chosen.phtml') ?>
    </div>
</div>
</body>
</html>