<div style="width:100%; text-align: center;margin-top: 5px;margin-bottom: 5px">
    <a href="#" style="color:#000000">Загрузить материалы</a>
</div>
<table class="table table-hover table-bordered" >
    <thead>
        <tr>
            <th>Название</th>
            <th>Тип</th>
            <th>Файл</th>
            <th>Дата добавления</th>
            <th>Рейтинг</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>sgdfgdfgd</td>
            <td>sgdfgdfgd</td>
            <td>sgdfgdfgd</td>
            <td>sgdfgdfgd</td>
            <td>sgdfgdfgd</td>
        </tr>
        <tr>
            <td>sgdfgdfgd</td>
            <td>sgdfgdfgd</td>
            <td>sgdfgdfgd</td>
            <td>sgdfgdfgd</td>
            <td>sgdfgdfgd</td>
        </tr>
    </tbody>
</table>