<div class="friendlist">
    <div class="friend">
        <div class="friend-avatar">
            <div class="avatar-min">
                <img src="/images/fgdfgdfgfd.png"  />
            </div>
        </div>
        <div class="friend-name">
            <a href="#">Иванов Иван</a>
        </div>
        <div class="friend-button">
            <div class="btn-group btn-group-justified" role="group" aria-label="..." style="margin-top: 40px;width:100%">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Принять</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Отклонить</button>
                </div>

            </div>
        </div>
    </div>
    <div class="friend">
        <div class="friend-avatar">
            <div class="avatar-min">
                <img src="/images/nota.png"  />
            </div>
        </div>
        <div class="friend-name">
            <a href="#">Иванов Иван</a>
        </div>
        <div class="friend-button">
            <div class="btn-group btn-group-justified" role="group" aria-label="..." style="margin-top: 40px;width:100%">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Принять</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Отклонить</button>
                </div>

            </div>
        </div>
    </div>
</div>