﻿﻿<style type="text/css">

</style>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>7 нот</title>
    <link href="<?=$this->basePath?>/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?=$this->basePath?>/css/registerStyles.css" rel="stylesheet">
    <link href="<?=$this->basePath?>/css/layout.css" rel="stylesheet">
    <script src="<?=$this->basePath?>/js/jquery-2.2.1.min.js"></script>
    <script src="<?=$this->basePath?>/js/bootstrap.min.js"></script>
    <script src="<?=$this->basePath?>/js/layout.js"></script>
    <script src="<?=$this->basePath?>/scripts/ajax.js"></script>
    <script src="<?=$this->basePath?>/js/jquery.validate.js"></script>
    <script src="<?=$this->basePath?>/js/additional-methods.js"></script>

    <?php session_start(); ?>
</head>
<body style="background-color: #BBBBBB;background-repeat: repeat;margin:0">
<div id="header" style="background-color: #B7D1D1;width: 100%; display: inline-block">
    <div id="title" style="width:200px; height:200px">
        <img src="/images/fgdfgdfgfd.png"/>
    </div>
    <nav role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="<?=$this->basePath?>/index">Главная<!--<span class="sr-only">(current)</span>--></a></li>
                    <li><a href="#">Авторизация<!--<span class="sr-only">(current)</span>--></a></li>
                    <li><a href="<?=$this->basePath?>/auth/register">Регистрация<!--<span class="sr-only">(current)</span>--></a></li>
                    <li><a href="<?=$this->basePath?>/account">Личный кабинет<!--<span class="sr-only">(current)</span>--></a></li>
                    <li><a href="#">Музыкальный архив</a></li>
                    <li><a href="#">Обучение</a></li>
                    <li><a href="#">F.A.Q.</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div style="width:100%; background-color: #B7D1D1;display:inline-block">
    <div style="width:100%;">
        <?php echo $this->layout()->content ?>
    </div>
</div>
<div style="background-color:#96B0B0;margin-bottom: 0px; text-align: center;display:block; width:100%">
    НИЯУ МИФИ 2016 <a href="#" style="color:#000000">Условия использования</a>
</div>
</body>
</html>
